{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <ul class="nav-list" id="navList">


        {% if app.user %}

            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path("admin_utilisateurs") }}" title="UsersList">Users-List</a></li>
            {% endif %}

        {% else %}

            <li><a href="{{ path("app_login") }}" title="Login">Login</a></li>
            <li><a href="{{ path("app_register") }}" title="Create account">Register</a></li>

        {% endif %}

    </ul>

{% endblock %}

