{% extends 'base.html.twig' %}

{% block title %}
Create a new game | {{ parent() }}

{% endblock %}

{% block body %}
    <div>
        {#  todo: afficher le formulaire #}
    </div>
{% endblock %}

