{% extends 'base.html.twig' %}

{% block title %}
todo afficher le titre du jeu | {{ parent() }}
{% endblock %}

{% block body %}

 <h2>todo: le titre du jeu</h2>
{# todo:affichier toutes les infos du jeu #}

{% endblock %}

